<a href="https://colab.research.google.com/github/aymannc/kaggle-competitions/blob/main/House_prices_advanced_regression_techniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting the data

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"aymannc","key":"fefb31ea1131e5bc3e8ecef0d2deb184"}'}

In [2]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
ref                                                          title                                           size  lastUpdated          downloadCount
-----------------------------------------------------------  ---------------------------------------------  -----  -------------------  -------------
szymonjanowski/internet-articles-data-with-users-engagement  Internet news data with readers engagement       3MB  2020-11-21 17:09:57           3330
sakshigoyal7/credit-card-customers                           Credit Card customers                          379KB  2020-11-19 07:38:44          11394
imoore/2020-us-general-election-turnout-rates                2020 US General Election Turnout rates           4KB  2020-11-26 00:21:15           3489
afrniomelo/3w-dataset                                        3W Dataset - Undesirable events in oil wells   658MB  2020-11-21 21:22:49            510
arashnic/hr-analytics-job-change-of-data-scientists          HR Analytics: Job Change of Data Scientists    295KB  2020-12-07 00:25:10            223
mrmorj/us-politicians-twitter-dataset                        US Politicians Twitter Dataset                  68KB  2020-11-23 09:54:05            996
patrickb1912/ipl-complete-dataset-20082020                   IPL Complete Dataset (2008-2020)                 1MB  2020-11-23 06:53:37           2512
arioboo/clumps-in-vela-galaxy-images                         Clumps in VELA galaxy images                     8MB  2020-11-23 13:42:09            319
shivamb/netflix-shows                                        Netflix Movies and TV Shows                    971KB  2020-01-20 07:33:56          76090
babyoda/women-entrepreneurship-and-labor-force               Women Entrepreneurship and Labor Force           1KB  2020-11-21 08:38:51           4968
alexgude/california-traffic-collision-data-from-switrs       California Traffic Collision Data from SWITRS    1GB  2020-11-22 16:51:55           2062
manchunhui/us-election-2020-tweets                           US Election 2020 Tweets                        353MB  2020-11-09 18:51:59           5304
sootersaalu/amazon-top-50-bestselling-books-2009-2019        Amazon Top 50 Bestselling Books 2009 - 2019     15KB  2020-10-13 09:39:21          10215
nehaprabhavalkar/indian-food-101                             Indian Food 101                                  7KB  2020-09-30 06:23:43          10248
datasnaek/youtube-new                                        Trending YouTube Video Statistics              201MB  2019-06-03 00:56:47         121625
zynicide/wine-reviews                                        Wine Reviews                                    51MB  2017-11-27 17:08:04         123735
google/tinyquickdraw                                         QuickDraw Sketches                              11GB  2018-04-18 19:38:04           2647
terenceshin/covid19s-impact-on-airport-traffic               COVID-19's Impact on Airport Traffic           125KB  2020-12-18 03:41:54           8887
karangadiya/fifa19                                           FIFA 19 complete player dataset                  2MB  2018-12-21 03:52:59         109748
datasnaek/chess                                              Chess Game Dataset (Lichess)                     3MB  2017-09-04 03:09:09          12694

In [3]:
!kaggle competitions download -c house-prices-advanced-regression-techniques

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/450k [00:00<?, ?B/s]
100% 450k/450k [00:00<00:00, 67.5MB/s]
Downloading data_description.txt to /content
  0% 0.00/13.1k [00:00<?, ?B/s]
100% 13.1k/13.1k [00:00<00:00, 13.4MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/31.2k [00:00<?, ?B/s]
100% 31.2k/31.2k [00:00<00:00, 31.8MB/s]
Downloading test.csv to /content
  0% 0.00/441k [00:00<?, ?B/s]
100% 441k/441k [00:00<00:00, 61.2MB/s]

# Handling missing data

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [6]:
train.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [7]:
test.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal
2  1463          60       RL  ...    2010        WD        Normal
3  1464          60       RL  ...    2010        WD        Normal
4  1465         120       RL  ...    2010        WD        Normal

[5 rows x 80 columns]

In [8]:
test_start_index = train.shape[0]
data = pd.concat([train,test])
print(data.shape)

(2919, 81)

### Showing the amount of nulls

In [9]:
data.isnull().sum() / data.shape[0] * 100

Id                0.000000
MSSubClass        0.000000
MSZoning          0.137033
LotFrontage      16.649538
LotArea           0.000000
                   ...
MoSold            0.000000
YrSold            0.000000
SaleType          0.034258
SaleCondition     0.000000
SalePrice        49.982871
Length: 81, dtype: float64

In [10]:
def get_null_percentage(data):
  data_nulls = data.isnull().sum()
  return sorted([(*e,data.dtypes[e[0]],round(e[1] / data.shape[0] * 100,2)) for e in zip(data.columns,data_nulls) if e[1] > 0],key= lambda x : x[1],reverse=True)

In [11]:
data_null_cols = get_null_percentage(data)
print(data_null_cols)

[('PoolQC', 2909, dtype('O'), 99.66), ('MiscFeature', 2814, dtype('O'), 96.4), ('Alley', 2721, dtype('O'), 93.22), ('Fence', 2348, dtype('O'), 80.44), ('SalePrice', 1459, dtype('float64'), 49.98), ('FireplaceQu', 1420, dtype('O'), 48.65), ('LotFrontage', 486, dtype('float64'), 16.65), ('GarageYrBlt', 159, dtype('float64'), 5.45), ('GarageFinish', 159, dtype('O'), 5.45), ('GarageQual', 159, dtype('O'), 5.45), ('GarageCond', 159, dtype('O'), 5.45), ('GarageType', 157, dtype('O'), 5.38), ('BsmtCond', 82, dtype('O'), 2.81), ('BsmtExposure', 82, dtype('O'), 2.81), ('BsmtQual', 81, dtype('O'), 2.77), ('BsmtFinType2', 80, dtype('O'), 2.74), ('BsmtFinType1', 79, dtype('O'), 2.71), ('MasVnrType', 24, dtype('O'), 0.82), ('MasVnrArea', 23, dtype('float64'), 0.79), ('MSZoning', 4, dtype('O'), 0.14), ('Utilities', 2, dtype('O'), 0.07), ('BsmtFullBath', 2, dtype('float64'), 0.07), ('BsmtHalfBath', 2, dtype('float64'), 0.07), ('Functional', 2, dtype('O'), 0.07), ('Exterior1st', 1, dtype('O'), 0.03), ('Exterior2nd', 1, dtype('O'), 0.03), ('BsmtFinSF1', 1, dtype('float64'), 0.03), ('BsmtFinSF2', 1, dtype('float64'), 0.03), ('BsmtUnfSF', 1, dtype('float64'), 0.03), ('TotalBsmtSF', 1, dtype('float64'), 0.03), ('Electrical', 1, dtype('O'), 0.03), ('KitchenQual', 1, dtype('O'), 0.03), ('GarageCars', 1, dtype('float64'), 0.03), ('GarageArea', 1, dtype('float64'), 0.03), ('SaleType', 1, dtype('O'), 0.03)]

### Dropping columns with more than 50% missing values

In [12]:
labels = [ e[0] for e in data_null_cols if round(e[-1]) >= 45]
labels

['PoolQC', 'MiscFeature', 'Alley', 'Fence', 'SalePrice', 'FireplaceQu']

In [13]:
cleaned_data = data.drop(labels,axis=1)
cleaned_data.shape, 'SalePrice' in cleaned_data.columns

((2919, 75), False)

In [14]:
null_percentages = get_null_percentage(cleaned_data)
null_percentages

[('LotFrontage', 486, dtype('float64'), 16.65),
 ('GarageYrBlt', 159, dtype('float64'), 5.45),
 ('GarageFinish', 159, dtype('O'), 5.45),
 ('GarageQual', 159, dtype('O'), 5.45),
 ('GarageCond', 159, dtype('O'), 5.45),
 ('GarageType', 157, dtype('O'), 5.38),
 ('BsmtCond', 82, dtype('O'), 2.81),
 ('BsmtExposure', 82, dtype('O'), 2.81),
 ('BsmtQual', 81, dtype('O'), 2.77),
 ('BsmtFinType2', 80, dtype('O'), 2.74),
 ('BsmtFinType1', 79, dtype('O'), 2.71),
 ('MasVnrType', 24, dtype('O'), 0.82),
 ('MasVnrArea', 23, dtype('float64'), 0.79),
 ('MSZoning', 4, dtype('O'), 0.14),
 ('Utilities', 2, dtype('O'), 0.07),
 ('BsmtFullBath', 2, dtype('float64'), 0.07),
 ('BsmtHalfBath', 2, dtype('float64'), 0.07),
 ('Functional', 2, dtype('O'), 0.07),
 ('Exterior1st', 1, dtype('O'), 0.03),
 ('Exterior2nd', 1, dtype('O'), 0.03),
 ('BsmtFinSF1', 1, dtype('float64'), 0.03),
 ('BsmtFinSF2', 1, dtype('float64'), 0.03),
 ('BsmtUnfSF', 1, dtype('float64'), 0.03),
 ('TotalBsmtSF', 1, dtype('float64'), 0.03),
 ('Electrical', 1, dtype('O'), 0.03),
 ('KitchenQual', 1, dtype('O'), 0.03),
 ('GarageCars', 1, dtype('float64'), 0.03),
 ('GarageArea', 1, dtype('float64'), 0.03),
 ('SaleType', 1, dtype('O'), 0.03)]

### Exploring data types

In [15]:
np.unique(cleaned_data.dtypes)

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

GarageFinish: Interior finish of the garage

       Fin	Finished
       RFn	Rough Finished	
       Unf	Unfinished
       NA	No Garage

In [16]:
cleaned_data['GarageFinish'].mode()

0    Unf
dtype: object

In [17]:
(cleaned_data['GarageFinish'] == 'Unf').sum()

1230

In [18]:
for k,_,t,_ in null_percentages:
  cleaned_data[k] = cleaned_data[k].fillna(
      cleaned_data[k].mode()[0] if t==np.object else cleaned_data[k].mean())

In [19]:
get_null_percentage(cleaned_data)

[]

In [20]:
cleaned_data.isnull().sum().sum()

0

### Converting categorical data

In [21]:
categorical_features = list(cleaned_data.dtypes[cleaned_data.dtypes == np.object].index)
categorical_features

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [25]:
# generate binary values using get_dummies
copy_cleaned_data = cleaned_data.copy()
copy_cleaned_data = pd.get_dummies(copy_cleaned_data, columns=categorical_features)
np.unique(copy_cleaned_data.dtypes)

array([dtype('uint8'), dtype('int64'), dtype('float64')], dtype=object)

In [26]:
copy_cleaned_data.head()

   Id  MSSubClass  ...  SaleCondition_Normal  SaleCondition_Partial
0   1          60  ...                     1                      0
1   2          20  ...                     1                      0
2   3          60  ...                     1                      0
3   4          70  ...                     0                      0
4   5          60  ...                     1                      0

[5 rows x 271 columns]

In [28]:
copy_cleaned_data.columns.duplicated().sum()

0

In [30]:
train_data=copy_cleaned_data.iloc[:test_start_index,:]
train_data['SalePrice'] = train.loc[:,'SalePrice']
test_data=copy_cleaned_data.iloc[test_start_index:,:]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
train_data.head()

   Id  MSSubClass  ...  SaleCondition_Partial  SalePrice
0   1          60  ...                      0     208500
1   2          20  ...                      0     181500
2   3          60  ...                      0     223500
3   4          70  ...                      0     140000
4   5          60  ...                      0     250000

[5 rows x 272 columns]

In [32]:
test_data.head()

     Id  MSSubClass  ...  SaleCondition_Normal  SaleCondition_Partial
0  1461          20  ...                     1                      0
1  1462          20  ...                     1                      0
2  1463          60  ...                     1                      0
3  1464          60  ...                     1                      0
4  1465         120  ...                     1                      0

[5 rows x 271 columns]

# Building the model